# Meta WhatsApp Cloud API
# Meta WhatsApp Cloud API. Generado por configurar_meta.ps1. No versionar.
META_VERIFY_TOKEN=144ynna6id7-_D5DsGIcze3e0fUKaC4h
META_APP_ID=2300764080761427
META_APP_SECRET=5e615f83f367e91f433c7023a6c4dc39
META_ACCESS_TOKEN=EAAgsiGGZB6lMBStySGXYpvZAnXGEiTsZCBkezG2yfNqbNyFDXY35NUO7onhdFjANJjh5nFzBIJdpPuAW79tlgSZCxFCOfCbSifsozGxZCuxZAzItZB4SFLoCUNOziej3tpp8u7IuGEZCmQ3tGyMp2fCBoZAZBb9CwjDA7Ip0ZBYWJAkmEciUOt2XxMc9JgawPfcywZDZD
WHATSAPP_PHONE_NUMBER_ID=1332459016616151
WHATSAPP_API_VERSION=v21.0
META_GRAPH_API_URL=https://graph.facebook.com
META_REQUEST_TIMEOUT=20